<h2>
    <%= link_to("Drinks",
    {:controller => 'drinks', 
    :action => 'index'}) %>
</h2>
<br/>
<h2>
    <%= link_to("Cocktails",
    {:controller => 'cocktails', 
    :action => 'index'}) %>
</h2>

